.online {
    color:green;
}

.offline {
    color:red;
}

.One {
  color:purple;
}

.Two {
  color:teal;
}

.Three {
  color:orange;
}

.pref-section {
  border-top: 2px solid;
  font-size: 32px;
}

.pref-section .allocated {
  float: left;
  margin-right: 1em;
}
