@(char_id: String, char_name:String, is_baid: Boolean)
@import helper.twitterBootstrap._

<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
  </head>
  <body>
    <div class="container">
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The Algorithm</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="@routes.Application.profile(char_name,char_id)">Preferences</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Connecting...</h2>
      </div>
      <div class="content">
          <section class="row col-md-12">
          @if(is_baid) {
            <button id="create_squad" type="button" class="btn btn-xs btn-success">Create Squad</button>
            <button id="take_leader" type="button" class="btn btn-xs btn-success">Take Lead</button>
          }
          <button id="unassign_self" type="button" class="btn btn-xs btn-warning">Unassign Self</button>
          <button id="leave" type="button" class="btn btn-xs btn-danger">Leave</button>
          @if("5428010618015225217" == char_id) {
            <a id="reset" href="#" class="btn">Reset...</a>
            <a id="change" href="#" class="btn">Change...</a>
          }
          </section>
          <section class="row">
              <section class="col-md-8">
                  <h3>Squads</h3>
                  <div id="squads"></div>
              </section>
              <section class="col-md-4" id="droppable_unassigned">
                  <h3>Unassigned</h3>
                  <div id="unassigned"></div>
              </section>
          </section>
      </div>
    </div> <!-- /container -->

    <script id="squad-template" type="text/x-handlebars-template">
      <div id="squad">
          <ul>
            {{#each squads}}
              <li>
              <h4>{{this.leader}}'s Squad <button data-sid="{{this.squad_id}}" type="button" class="join_squad btn btn-xs btn-success">Join</button></h4>
              <ul>
              {{#each this.members}}
                <li class="member"><b>{{this.name}}</b>:
                  {{this.assignment.role}} -- <span class="{{this.assignment.fireteam}}">{{this.assignment.fireteam}}</span>
                  (<span class="{{this.online}}">{{this.online}} [Air:{{this.resources.air}} / Armor:{{this.resources.armor}} / Infantry:{{this.resources.infantry}}]</span>)
                  {{#if ../is_leader}}
                  <br>
                  &nbsp &nbsp-- <a href='#' class='remove_mem' data-cid={{this.id}}>Kick</a>
                  -- <a href='#' class='make_leader' data-cid='{{this.id}}'>Make Leader</a>
                  -- <a href='#' class='unassign_mem' data-cid='{{this.id}}'>Unassign</a>
                  {{/if}}
                  {{#if ../is_other_leader}}
                  -- <a href='#' class='take_mem' data-cid='{{this.id}}'>Take</a>
                  {{/if}}
                </li>
              {{/each}}
              </ul>
              </li>
            {{/each}}
          </ul>
      </div>
    </script>

    <script id="unassigned-template" type="text/x-handlebars-template">
        <div id="unassigned">
            {{#each unassigned}}
                <li>{{this.name}} (<span class="{{this.online}}">{{this.online}}</span>)</li>
            {{/each}}
        </div>
    </script>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/0.2.0/annyang.min.js"></script>
    <script src="@routes.Assets.at("javascripts/handlebars-v1.1.2.js")"></script>
    <script src="@routes.JavascriptRoutes.javascriptRoutes()"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/buzz.js")"></script>
    <script type="text/javascript" charset="utf-8" src="@routes.Application.thealgorithmSoundsJS(char_id)"></script>
    <script type="text/javascript" charset="utf-8" src="@routes.Application.thealgorithmJS(char_id)"></script>
  </body>
</html>
