@(char_name: String, char_id: String)
@import helper.twitterBootstrap._
@import views._

<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
  </head>
  <body>
    <div class="container">
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The Algorithm</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Set Preferences for: @char_name</h1>
      </div>
      <div class="content">
        <div>
          <section class="col-md-6">
          <div id="pref-points">
            <h3>Allocate up to 10 more preference points</h3>
          </div>
          <section class="pref-section row">
            <div id="amt-HA" class="allocated col-md-6">Heavy Assault: 0</div>
            <button id="add-HA" class="btn btn-success add-pref">+</button>
            <button id="sub-HA" class="btn btn-warning sub-pref">-</button>
          </section>
          <section class="pref-section row">
            <div id="amt-MEDIC" class="allocated col-md-6">Medic: 0</div>
            <button id="add-MEDIC" class="btn btn-success add-pref">+</button>
            <button id="sub-MEDIC" class="btn btn-warning sub-pref">-</button>
          </section>
          <section class="pref-section row">
            <div id="amt-ENGY" class="allocated col-md-6">Engineer: 0</div>
            <button id="add-ENGY" class="btn btn-success add-pref">+</button>
            <button id="sub-ENGY" class="btn btn-warning sub-pref">-</button>
          </section>
          <section class="pref-section row">
            <div id="amt-LA" class="allocated col-md-6">Light Assault: 0</div>
            <button id="add-LA" class="btn btn-success add-pref">+</button>
            <button id="sub-LA" class="btn btn-warning sub-pref">-</button>
          </section>
          <section class="pref-section row">
            <div id="amt-INF" class="allocated col-md-6">Infiltrator: 0</div>
            <button id="add-INF" class="btn btn-success add-pref">+</button>
            <button id="sub-INF" class="btn btn-warning sub-pref">-</button>
          </section>
          <div class="row" style="margin-top: 1em">
            <button id="save" class="btn btn-primary">Save Preferences</button>
          </div>
          </section>
          <section class="col-md-5 col-md-offset-1">
          <div class="row">
            <h3>Squad Leadership Preference:</h3>
            <input type="radio" id="leader-never" name="leaderPref" value="NEVER">
            <label for="leader-never">Never</label>
            <input type="radio" id="leader-mentor" name="leaderPref" value="MENTOR">
            <label for="leader-mentor">With Mentor</label>
            <input type="radio" id="leader-low" name="leaderPref" value="LOW">
            <label for="leader-low">Low</label>
            <input type="radio" id="leader-high"name="leaderPref" value="HIGH">
            <label for="leader-high">High</label>
          </div>
          <div class="row">
            <h3>Pointman / Team Leader Preference:</h3>
            <input type="radio" id="point-never" name="pointPref" value="NEVER">
            <label for="point-never">Never</label>
            <input type="radio" id="point-mentor" name="pointPref" value="MENTOR">
            <label for="point-mentor">With Mentor</label>
            <input type="radio" id="point-low" name="pointPref" value="LOW">
            <label for="point-low">Low</label>
            <input type="radio" id="point-high"name="pointPref" value="HIGH">
            <label for="point-high">High</label>
          </div>
          @vehicle_pref("MAX")
          @vehicle_pref("magrider")
          @vehicle_pref("harasser")
          @vehicle_pref("sunderer")
          @vehicle_pref("lightning")
          @vehicle_pref("galaxy")
          @vehicle_pref("scythe")
          @vehicle_pref("liberator")
          </section>
        </div>
      </div>

    </div> <!-- /container -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="@routes.JavascriptRoutes.javascriptRoutes"></script>
    <script>
      var HA=0;
      var MEDIC=0;
      var ENGY=0;
      var LA=0;
      var INF=0;

      var leader="NEVER";
      var point="NEVER";

      var MAX=0;
      var magrider=0;
      var harasser=0;
      var sunderer=0;
      var lightning=0;
      var galaxy=0;
      var scythe=0;
      var liberator=0;
      
      function storePrefs() {
        var char_prefs = {
          cid: "@char_id",
          name: "@char_name",
          ha: HA,
          medic: MEDIC,
          engy: ENGY,
          la: LA,
          inf: INF,
          leader:leader,
          point:point,
          MAX:MAX,
          magrider:magrider,
          harasser:harasser,
          sunderer:sunderer,
          lightning:lightning,
          galaxy:galaxy,
          scythe:scythe,
          liberator:liberator
        };
        if(localStorage) {
          localStorage["prefs"] = JSON.stringify(char_prefs);
        }
        return char_prefs;
      };

      function total() { return HA+MEDIC+ENGY+LA+INF; };
      
      @prefJS("HA","Heavy Assault")
      @prefJS("MEDIC","Medic")
      @prefJS("ENGY","Engineer")
      @prefJS("LA","Light Assault")
      @prefJS("INF","Infiltrator")

      @leaderPrefJS("leader")
      @leaderPrefJS("point")

      @vehiclePrefJS("MAX")
      @vehiclePrefJS("magrider")
      @vehiclePrefJS("harasser")
      @vehiclePrefJS("sunderer")
      @vehiclePrefJS("lightning")
      @vehiclePrefJS("galaxy")
      @vehiclePrefJS("scythe")
      @vehiclePrefJS("liberator")
      
      $("#save").click(function () {
        if(localStorage) {
          if(localStorage.prefs) {
            $.ajax({
              type: "POST",
              contentType: "application/json",
              data: localStorage.prefs,
              url: "@routes.Application.auto()",
              success: function(data) {
                var prefs = JSON.parse(localStorage.prefs)
                window.location = jsRoutes.controllers.Application.active(prefs.name,prefs.cid).url;
              }
            });
          }
        }
      });

      $(document).ready(function() {
        if(localStorage) {
          if(localStorage.prefs) {
            var prefs = JSON.parse(localStorage.prefs)
            HA=prefs.ha;
            MEDIC=prefs.medic;
            ENGY=prefs.engy;
            LA=prefs.la;
            INF=prefs.inf;
            
            leader=prefs.leader;
            point=prefs.point;

            MAX=prefs.MAX;
            magrider=prefs.magrider;
            harasser=prefs.harasser;
            sunderer=prefs.sunderer;
            lightning=prefs.lightning;
            galaxy=prefs.galaxy;
            scythe=prefs.scythe;
            liberator=prefs.liberator;
      
            updateHA();
            updateMEDIC();
            updateENGY();
            updateLA();
            updateINF();

            if(leader == "NEVER") { $('#leader-never').attr('checked', true); }
            if(leader == "MENTOR") { $('#leader-mentor').attr('checked', true); }
            if(leader == "LOW") { $('#leader-low').attr('checked', true); }
            if(leader == "HIGH") { $('#leader-high').attr('checked', true); }
            
            if(point == "NEVER") { $('#point-never').attr('checked', true); }
            if(point == "MENTOR") { $('#point-mentor').attr('checked', true); }
            if(point == "LOW") { $('#point-low').attr('checked', true); }
            if(point == "HIGH") { $('#point-high').attr('checked', true); }
            
            onStartMAX()
            onStartmagrider()
            onStartharasser()
            onStartsunderer()
            onStartlightning()
            onStartgalaxy()
            onStartscythe()
            onStartliberator()
          }
        }
      });
    </script>
  </body>
</html>
